# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IntelliJ / Android Studio
# =========================
*.iml
*.ipr
*.iws
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# =========================
# Android build outputs
# =========================
/android/app/debug
/android/app/profile
/android/app/release

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# =========================
# Obfuscation / Symbols
# =========================
app.*.symbols
app.*.map.json

# =========================
# ENV / Secrets
# =========================
.env
.env.*
assets/.env

# =========================
# Docker / Nextcloud
# =========================
docker-compose.override.yml
docker-stack.yml
data/
db_data/
nextcloud_data/
nextcloud_db_data/
volumes/

# =========================
# Logs
# =========================
*.log
